body {
    background-color: lightseagreen;

   
} 

h1 { 
    color: darkgoldenrod;
    text-align: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

p {
    color: whitesmoke;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    height: 70px;

} 

summary{
    font-family: monospace;
} 

footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder; 
}
 

a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
} 

#window.location {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:crimson
}

.container {
    display: flex;              /* Places items next to each other */
    justify-content:space-evenly; /* Equal spacing */
    gap:10px;                  /* Space between boxes */
}

.box {
    flex: 1;                    /* Equal width */
    padding: 60px;
    text-align: left;
    gap: 10px;
}