body {
    background-color: black;
}

h1 {
    color: #FFD700;
    text-indent: center;
    font-family: 'Papyrus', serif;
         background-color: black;
}
li { 
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:navy;
}

img {
    height: 300px;
    width: 200px;
}
#textbold{
 font-weight: bold;
      background-color: navy;
}

footer{
    color: white 
}

#window.location {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:crimson 
} 
ul {
   font-family: fantasy;
    color: whitesmoke; 
    
}

footer {
    color:gainsboro
} 

.button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 

#footer{
    font-style: normal; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#output{
    color: white; 
    font-family:cursive;
}


