body {
    background-color: darkslateblue;
} 

h1 { 
    color: darkgoldenrod;
    text-align: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: whitesmoke;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}