body {
    background-color: #00008B; 
}
h1 {
    color: #FFD700;
    text-align: left;
    font-family: 'Papyrus', serif;
}
.li { 
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    height: 300px;
    width: 200px;
}