body {
    background-color: #00008B; 
}
h1 {
    color: #FFD700;
    text-align: left;
    font-family: 'Papyrus', serif;
}
p {
    color: white;
    font-family: 'Papyrus', serif;
}

img {
    height: 300px;
    width: 200px;
}